.about{
    width: 100%;
    padding: 60px 25px;
}

.about h2{
    margin: 20px auto;
    text-align: center;
    padding-bottom: 30px;
    color: #040124ec;
    font-size: 3.3rem;
    font-weight: 800;
    border-bottom: 2px solid #0401247e;
}

.about p{
    margin: 30px 140px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 100;
    color: #040124b3;
}

@media (max-width: 768px){
    .about{
        padding: 40px 25px;
    }
    
    .about h2{
        margin: 15px auto;
        font-size: 2.3rem;
    }
    
    .about p{
        margin: 20px;
        font-size: 1.1rem;
        text-align: center;
    }   
}